<nav class="nav-area">
    <div class="nav-logo">
        <h3>a wee twig</h3>
    </div>
    <div class="nav-items">
        <ul>
            <li><a href="#">about</a></li>
            <li><a href="#">project</a></li>
            <li><a href="#">blog</a></li>
        </ul>
    </div>
</nav>