<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--PAGE SETTING-->
    <!--PAGE SETTING-->
    <title>a wee twig</title>
    <meta name="robots" content="index, follow">
    <meta name="description" content="Comprehensive understanding of front-end development">
    <meta name="author" content="Gongtzu">
    <link rel="shortcut icon" href="resource/logo.png">
    <link rel="bookmark" href="resource/logo.png">

    <!--STYLE SHEET-->
    <!--STYLE SHEET-->
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    This is HOME page.
</body>